<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/media.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Rubik:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main">
         <div class="hide">
            <div class="logo1"><img src="./image/p-dark-logo3.png" alt="" height="100%" width="100%"></div> 
            <div class="menu"><i class="fa-solid fa-bars"></i></div>   
         </div>
       <!-- <a href="#" class="button"><i class="fa-solid fa-arrow-up"></i></a>   -->
        <!-- left part  start -->

        <div class="left">
            <div class="logo">
                <img src="./image/p-dark-logo3.png" alt="" height="100%" width="100%">
            </div>
            <div class="nav">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Services</a></li>
                    <li><a href="">Testmonials</a></li>
                    <li><a href="">Project</a></li>
                    <li><a href="">News</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
            <div class="navA">
                <i class="fa-solid fa-globe"></i>
              <h5>380 St Kilda Road</h5>
              <span class="h5">Melbourne, Australia</span>  
            </div>
            <div class="navB">
                <i class="fa-solid fa-phone"></i>
                <h5>Call Us:(210)123-456</h5>
                  <span class="h5">(Sat - Thursday)</span>
            </div>
            <div class="navC">
                <i class="fa-regular fa-clock"></i>
               <h5>Monday - Friday</h5> 
                 <span class="h5">(10am - 05 pm)</span>
            </div>

            <div class="navD">
                <div class="D1"><i class="fa-brands fa-facebook-f"></i></div>
                <div class="D1"><i class="fa-brands fa-twitter"></i></div>
                <div class="D1"><i class="fa-brands fa-linkedin-in"></i></div>
                <div class="D1"><i class="fa-brands fa-pinterest"></i></div>
            </div>
        </div>
        </div>

        <!-- left part end  -->

        <!-- right part start -->


        <div class="right">
            <video src="./image/video-demo2.mp4" width="100%" height="700px" controls >
               
            </video>
            
                <h1>Consultio is a startup
                    <br>
                     business consulting
                </h1>
                    <div class="view">
                        <a href="">
                            <i class="fa-solid fa-gear"></i> 
                            view services
                        </a>
                    </div>
            
        <!-- section 1 start -->

        <div class="section1">
            <div class="section1-a section1-common">
                <div class="section-logo"><i class="fa-solid fa-bullseye"></i></div>
                <div class="section-contant">
                    <h3 class="H3">Startup Business </h3>
                    <span class="h3">Business Consulting ..</span> </div>
                    <div class="section-line"></div>
            </div>
            <div class="section1-b section1-common">
                <div class="section-logo"><i class="fa-solid fa-head-side-virus"></i></div>
                <div class="section-contant">
                    <h3 class="H3">Business Consulting</h3>
                    <span class="h3">Best business enterprise ...</span>
                </div>
                <div class="section-line"></div>
            </div>
            <div class="section1-c section1-common">
                <div class="section-logo"><i class="fa-solid fa-magnifying-glass-dollar"></i></div>
                <div class="section-contant">
                    <h3 class="H3">Government policy</h3>
                    <span class="h3">First and foremost ...
                    </span>
                </div>
                <div class="section-line"></div>
            </div>
            <div class="section1-d section1-common">
                <div class="section-logo"><i class="fa-solid fa-lightbulb"></i></div>
                <div class="section-contant">
                    <h3 class="H3">Creative idea</h3>
                    <span class="h3">Supporting a unique
                    </span>
                </div>
                <div class="section-line"></div>
            </div>
            <hr>
        </div>
        <br>
        <hr>

        <!-- section 1 end -->

        <!-- section 2 start -->
        
        <div class="section2">
            <div class="section-2a">
                <div class="part-1">
                    <div class="part-1-a">About us</div>
                    <div class="part-1-b"><h2>Consulting is a law firm specialising in corporate finance work</h2></div>
                </div>
                <div class="part-2">Advice on comprehensive legal solutions and legal planning on all aspects of business, including: issues under Company Law & Exchange Control Regulations.</div>
                <div class="part-3">
                    <div class="part-3-a a2">
                        <div class="x1">
                            <div class="x2">
                                <div class="x3">80%</div>
                            </div> 
                        </div> 
                    </div>
                    <div class="part-3-b a2">
                        <div class="x1">
                            <div class="x2a">
                                <div class="x3">90%</div>
                            </div>
                        </div>
                    </div>
                    <div class="part-3-c a2">
                        <div class="x1">
                            <div class="x2b">
                                <div class="x3">50%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-2b"><img src="./image/h4-about1.png" height="100%" width="100%"></div>
        </div>

        <!-- section 2 end -->

        <!-- section 3 start -->

        <div class="section3">
         <div class="section3-main">
            <div class="part1">
                <div class="part1-1">
                    <div class="part1-1-1">funtfact</div>
                    <div class="part1-1-2">Don’t misread here we have random & interesting facts.</div>
                </div>
                <div class="part1-2">Starfish can re-grow their arms. In fact, a single arm can regenerate a whole body. Google’s founders were willing to sell & consult.</div>
                <div class="part1-3">
                    <div class="c34">
                        <i class="fa-solid fa-circle-play" ></i>
                        <div class="c31"></div>
                        <div class="c32"></div>
                        <div class="c33"></div>
                    </div>
                </div>
            </div>
            <div class="part2">
                <div class="part2-1">
                    <div class="part2-1-1">
                        <h3>150+</h3>
                        <b>Team <br>members</b>
                    </div>
                </div>
                <div class="part2-2">
                    <div class="part2-2-1">
                        <h3>215 +</h3>
                        <b>Client’s <br>Feedback</b>
                    </div>
                </div>
                <div class="part2-3">
                    <div class="part2-2-1">
                        <h3>8 +</h3>
                        <b>Winning <br>Awards</b>
                    </div>
                </div>
                <div class="part2-4">
                        <div class="part2-1-1">
                            <h3>310+</h3>
                            <b>complate <br>Works</b>
        </div>
                </div>
            </div>
         </div>
        </div>

        <!-- section 3 end -->

        <!-- section 4 start -->

        <div class="section4">
            <div class="part_1">
                <div class="part_1a">
                    <div class="part_1a-1">Why choose</div>
                    <div class="part_1a-2">There are many consulting firm in this city but clients choose us all time</div>
                </div>
                <div class="part_1b">Advice on comprehensive legal solutions and legal planning on all aspects of business, including: issues under Company Law Exchange Control Regulations.</div>
                <div class="part_1c">
                    <div class="icon4c"><img src="./image/h4-icon-01.png" alt="" height="100%" width="100%"></div>
                    <div class="contant4c">
                     <span class="C_4">Fully Secured Management</span><br><br>
                     A secured loan is a loan in which the borrower pledges some asset as collateral for the loan, which then becomes a secured debt
                    </div>
                </div>
                <div class="part_1d">
                    <div class="icon4d"><img src="./image/h4-icon-02.png" alt="" height="100%" width="100%"></div>
                    <div class="contant4d">
                        <span class="C_4">100% Money Back Guarantee</span><br><br>
                        Money-back guarantee is known as satisfaction guarantee,if a buyer is not satisfied with any product or service, a refund will be made.
                    </div>
                </div>
            </div>
            <div class="part_2">
                <img src="./image/h4-about2.png" alt="" height="100%" width="100%">
            </div>
        </div>

        <!-- section 4 end  -->

        <!-- section 5 start -->

        <div class="section5">
            <div class="part__1">
                <div class="part__1a">
                    <div class="part__1a-1">Services</div>
                    <div class="part__1a-2">We deals with many services to take extra care of your problem solutions.</div>
                </div>
                <div class="part__1b">Business services is a general term that describes work that supports a business but does not produce a tangible commodity. Information technology is important.</div>
            </div>
            <div class="part__2">
                <div class="part__2a">
                    <div class="card1">
                        <div class="card1a"><img src="./image/icon-image-03.png" alt=""></div>
                        <div class="card1b">Web Desining</div>
                        <div class="card1c">Get a sturnning web presense-it's easy and free with us mobile optimized.free multilingual fonts.SEO wizard</div>
                        <div class="card1d"><a href="">Read more>></a></div>
                        <div class="card1e"></div>
                    </div>
                </div>
                <div class="part__2b"><div class="card1">
                    <div class="card1a"><img src="./image/icon-image-02.png" alt=""></div>
                    <div class="card1b">Brand & Package</div>
                    <div class="card1c">Get a sturnning web presense-it's easy and free with us mobile optimized.free multilingual fonts.SEO wizard</div>
                    <div class="card1d"><a href="">Read more>></a></div>
                    <div class="card1e"></div>
                </div>
            </div>
                <div class="part__2c">
                    <div class="card1">
                        <div class="card1a"><img src="./image/icon-image-01.png" alt=""></div>
                        <div class="card1b">Buisness Strategy</div>
                        <div class="card1c">Get a sturnning web presense-it's easy and free with us mobile optimized.free multilingual fonts.SEO wizard</div>
                        <div class="card1d"><a href="">Read more>></a></div>
                        <div class="card1e"></div>
                    </div>
                </div>
            </div>
            <div class="part__3">
                 <div class="part__3a"></div>
            </div>
        </div>
        <!-- section 5 end -->

        <!-- section 6 start -->

        <div class="section6">.
            <div class="part6__1">
                <div class="part6__1a">
                    <div class="part6__1a_1">Testimonial</div>
                    <div class="part6__1a_2">It’s always a joy to hear that the work we do, has positively reviews.</div>
                </div>
                <div class="part6__1b">We have spent 9 years working for one of Australia’s most recognised and successful retailers so we have many good review of works.</div>
            </div>
            <div class="part6__2">
                <div class="part6__2a">
                    <div class="cart1">
                        <div class="cart1a">
                            Lorem ipsum dolor sit amet hello i am  fugit reprehenderit, eum, corporis placeat veritatis doloribus quod mollitia fugiat ratione.
                            <div class="ct1"></div>
                        </div>
                      <div class="img"></div>  
                      <div class="ctn2">
                        <span class="span1">MERIA SILVERLL</span>
                        <span class="span2">CEO of blue illusion</span>
                        <span class="span3">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </span>
                      </div>
                    </div>
                </div>
                <div class="part6__2b">
                    <div class="cart1">
                        <div class="cart1a">
                            Lorem ipsum dolor sit amet hello i am  fugit reprehenderit, eum, corporis placeat veritatis doloribus quod mollitia fugiat ratione.
                            <div class="ct1"></div>
                        </div>
                      <div class="img"></div>  
                      <div class="ctn2">
                        <span class="span1">PHILIP MACINTYPE</span>
                        <span class="span2">CEO of blue illusion</span>
                        <span class="span3">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </span>
                      </div>
                    </div>
                </div>
                <div class="part6__2c"> <div class="cart1">
                    <div class="cart1a">
                        Lorem ipsum dolor sit amet hello i am  fugit reprehenderit, eum, corporis placeat veritatis doloribus quod mollitia fugiat ratione.
                        <div class="ct1"></div>
                    </div>
                  <div class="img"></div>  
                  <div class="ctn2">
                    <span class="span1">AMY HERISON</span>
                    <span class="span2">CEO of blue illusion</span>
                    <span class="span3">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </span>
                  </div>
                </div></div>
            </div>
            <div class="part6__3"></div>
        </div>

        <!-- section 6 end  -->

        <!-- section 7 start -->

        <div class="section7">
            <div class="part7-a">
                <div class="part7-a1">Contact us</div>
                <div class="part7-a2">Our client, global analytical techno company, wanted to build market.
                </div>
            </div>
            <div class="part7-b">For any inquiries relating to my Retail and Leadership Programs or Coaching and Mentoring services feel free to speak to me personally by call us during business hours.</div>
        </div>

        <!-- section 7 end -->

        <!-- section 8 start -->
          <div class="section8">
            <div class="part8-1">
                <ul>
                    <div class="p1">
                    <li class="li"><a href="">all</a></li>
                    <li class="li"><a href="">coaching</a></li>
                    <li class="li"><a href="">Facilation</a></li>
                </div>
                <div class="p2">
                    <li class="li"><a href="">Stakeholder Relations</a></li>
                    <li class="li"><a href="">Strategy</a></li>
                    </div>
                </ul>
            </div>
            <div class="part8-2">
                <div class="row1">
                    <div class="col1">
                        <span class="PH1">Business <br> groth</span>
                        <span class="PH2">Coaching</span>
                        <div class="plus"><i class="fa-solid fa-plus"></i></div>
                        <div class="hidden">
                            <div class="col1a"></div>
                        </div>
                    </div>
                    <div class="col1">
                        <span class="PH1">Business <br> groth</span>
                        <span class="PH2">Coaching</span>
                        <div class="plus"><i class="fa-solid fa-plus"></i></div>
                        <div class="hidden">
                            <div class="col1a col2a"></div>
                        </div>
                    </div>
                    <div class="col1">
                        <span class="PH1">Business <br> groth</span>
                        <span class="PH2">Coaching</span>
                        <div class="plus"><i class="fa-solid fa-plus"></i></div>
                        <div class="hidden">
                            <div class="col1a col3a"></div>
                        </div>
                    </div>
                    <div class="col1">
                        <span class="PH1">Business <br> groth</span>
                        <span class="PH2">Coaching</span>
                        <div class="plus"><i class="fa-solid fa-plus"></i></div>
                        <div class="hidden">
                            <div class="col1a col4a"></div>
                        </div>
                    </div>
                </div>
                <div class="row1">
                    <div class="col1">
                        <span class="PH1">Business <br> groth</span>
                        <span class="PH2">Coaching</span>
                        <div class="plus"><i class="fa-solid fa-plus"></i></div>
                        <div class="hidden">
                            <div class="col1a col5a"></div>
                        </div>
                    </div>
                    <div class="col1">
                        <span class="PH1">Business <br> groth</span>
                        <span class="PH2">Coaching</span>
                        <div class="plus"><i class="fa-solid fa-plus"></i></div>
                        <div class="hidden">
                            <div class="col1a col6a"></div>
                        </div>
                    </div>
                    <div class="col1">
                        <span class="PH1">Business <br> groth</span>
                        <span class="PH2">Coaching</span>
                        <div class="plus"><i class="fa-solid fa-plus"></i></div>
                        <div class="hidden">
                            <div class="col1a col7a"></div>
                        </div>
                    </div>
                    <div class="col1">
                        <span class="PH1">Business <br> groth</span>
                        <span class="PH2">Coaching</span>
                        <div class="plus"><i class="fa-solid fa-plus"></i></div>
                        <div class="hidden">
                            <div class="col1a col8a"></div>
                        </div>
                    </div>
                </div>
            </div>

         <a href=""><div class="part8-3"><i class="fa-solid fa-arrow-rotate-right"></i> Learn more</div></a>   
          </div>

          <!-- section 8 end -->

          <!-- section 9 start -->

          <div class="section9">
              <div class="part9-1">
                <div class="part9-1a">
                    <div class="part9-1a-1">Newsfeed</div>
                    <div class="part9-1a-2">Hello & welcome Let us tell you our story!</div>
                </div>
                <div class="part9-1b">After 24 years of success in inspiring teams to deliver top results, I can unequivocally say the answer to business success is in how you lead your people.</div>
              </div>
              <div class="part9-2">
                <div class="part9-2a">
                    <div class="part9-2a-1">
                       <div class="border"> <div class="photo"></div></div>
                       <a href="" class="liti">Strategy for Norway's Peion to Fund Global.</a>
                       <span class="liti2"><a href="" style="color: gray;">Admin</a> | November 5,2019</span><br>
                       <a href="" class="readmore">Read more >></a> </span>
                    </div>
                    <div class="part9-2a-1">
                        <div class="border"> <div class="photo photo1"></div></div>
                       <a href="" class="liti">Strategy for Norway's Peion to Fund Global.</a>
                       <span class="liti2"><a href="" style="color: gray;">Admin</a> | November 5,2019</span><br>
                       <a href="" class="readmore">Read more >></a> </span>
                    </div>
                </div>
                <div class="part9-2b">
                    <div class="border1"> <div class="photo4"></div></div>
                    <a href="" class="liti-1">What we are capable to usually discoverd</a>
                    <span class="liti-2"><a href="" style="color: gray;">Admin</a> | November 5,2019</span><br>
                    <span class="liti-3">At vero eos et accusamus et iustoodio digni goikussimos ducimus qui blanp ditiis praesum voluum.</span>
                </div>

                <div class="part9-2c">
                    <div class="part9-2a-1">
                        <div class="border"> <div class="photo photo2"></div></div>
                        <a href="" class="liti">Strategy for Norway's Peion to Fund Global.</a>
                        <span class="liti2"><a href="" style="color: gray;">Admin</a> | November 5,2019</span><br>
                        <a href="" class="readmore">Read more >></a> </span>
                     </div>
                     <div class="part9-2a-1">
                         <div class="border"> <div class="photo photo3"></div></div>
                        <a href="" class="liti">Strategy for Norway's Peion to Fund Global.</a>
                        <span class="liti2"><a href="" style="color: gray;">Admin</a> | November 5,2019</span><br>
                        <a href="" class="readmore">Read more >></a> </span>
                     </div>
                </div>
              </div>
          </div>
          
          <!-- section 9 end -->

          <!-- section 10 start -->

          <div class="section10">
            <div class="section10a">
                <div class="section10a-1">Contact us</div>
                <div class="section10a-2">Our client, global analytical techno company, wanted to build market.</div>
            </div>
            <div class="section10b">For any inquiries relating to my Retail and Leadership Programs or Coaching and Mentoring services feel free to speak to me personally by call us during business hours.</div>
          </div>

          <!-- section 10 end  -->

          <!-- section 11 start -->

          <div class="section11">
            <div class="section11-1">
                <div class="part11-1">
                    <div class="part11-1a">
                        <div class="ht"><i class="fa-solid fa-location-dot"></i></div>
                    </div>
                    <div class="part11-1b">
                        <span class="hr">Head office <br> address:</span><br><br>
                        <span class="hr1">3556 Hartford Way Vlg, <br> Mount Pleasant, SC, 29466,<br> Australia.</span>
                    </div>
                </div>
                <div class="part11-2">
                    <div class="part11-1a">
                        <div class="ht"><i class="fa-solid fa-phone"></i></div>
                    </div>
                    <div class="part11-1b">
                        <span class="hr">Call for help</span><br><br>
                        <span class="hr1">(734) 697-2907 <br>
                            (843) 971-1906</span>
                    </div>
                </div>
                <div class="part11-3">
                    <div class="part11-1a">
                        <div class="ht"><i class="fa-solid fa-envelope"></i></div>
                    </div>
                    <div class="part11-1b">
                        <span class="hr">Main for <br> information</span><br><br>
                        <span class="hr1">noreply@envato.com <br>
                            noreply@consultio.com</span>
                    </div>
                </div>
            </div>
            <div class="section11-2">
                <form action="">
                <div class="div1">
                    <div class="div1a">
                        <div class="div1a-1"> First name* <br>
                                              <input type="text" size="25" placeholder="Type your first name">
                                            </div>
                        <div class="div1a-2">
                            Select a subject to get help* <br>
                            <select name="" id="">
                                <option value="">select a subject</option>
                                <option value="">Sucsess fuufill</option>
                                <option value="">Startup business</option>
                                <option value="">Leadership work</option>
                                <option value="">Business growth</option>
                            </select>
                        </div>
                    </div>
                    <div class="div1b">
                        <div class="div1b-1"> Last name* <br>
                            <input type="text" size="25" placeholder="Type your last name"></div>
                        <div class="div1b-2">
                            Your mail address* <br>
                            <input type="email" size="25" placeholder="Type mail address">
                        </div>
                    </div>
                </div>
                <div class="div2">
                    Message* <br>
                    <textarea name="" id="" cols="84" rows="12"></textarea>
                </div>
                 <div class="section11-3"><i class="fa-solid fa-cloud-arrow-down"></i><input type="submit" ></div> 
            </div></form>
          </div>

          

          <!-- section 11 end -->

          <!-- section 12 start -->
          
          <div class="section12">
            <div class="part12-1">
                <div class="PART1">
                    <div class="PART1a"><img src="./image/p-light-logo3.png" alt="" height="100%"width="100%"></div>
                    <div class="PART1b">
                        <span class="k1"><i class="fa-solid fa-location-dot" ></i> 30 Commercial Road <br> &nbsp;&nbsp; Fratton, Australia</span>
                        <span class="k2"><i class="fa-solid fa-phone"></i> 1-888-452-1505</span>
                        <span class="k3">open house:</span>
                        <span class="k4">Mon – Sat: 8 am – 5 pm,
                            Sunday: CLOSED</span>
                    </div>
                </div>
                <div class="PART2">
                    <div class="PART2a">Links</div>
                    <div class="PART2b">
                        <ul>
                            <li><a href="">> Team</a></li>
                            <li><a href="">> Services</a></li>
                            <li><a href="">> FAQ</a></li>
                            <li><a href="">> About us</a></li>
                            <li><a href="">> Gallery</a></li>
                            <li><a href="">> Testimonials</a></li>
                            <li><a href="">> Contact</a></li>
                            <li><a href="">> News</a></li>
                            <li><a href="">> Portfolio</a></li>
                        </ul>
                    </div>
                </div>
                <div class="PART3">
                    <div class="PART3a">Nwesletter</div>
                    <span class="u">Send us a newsletter to get update</span>
                   <div class="PART3b"><input type="email" placeholder="Your mail address">
                    &nbsp;<i class="fa-solid fa-share"></i> </div> 
                  <div class="PART3c">
                    <div class="PART3c-1"><img src="./image/bg-footer1.png" alt=""></div>
                    <div class="PART3c-2"><img src="./image/google-play.png" alt=""></div>
                  </div>

                  <div class="b">
                    <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fa-solid fa-basketball"></i></a>
                    <a href=""><i class="fa-brands fa-behance"></i></a>
                  </div>
                </div>
            </div>
            <div class="part12-2">2023 © All rights reserved by <a href="" style="color: rgb(252, 2, 127);">CaseThemes</a></div>
          </div>

        <!-- right part end -->
    </div>
    

</body>
</html>
