@media (max-width:500px){

  /*part1 start  */

  .part1{  
    display: grid;
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: 1fr;
  }
  .part1a-2 h4::after{
    position: absolute;
    top: -6px;
    right: 103px;
  
  }
  .part1a{
    border: none;
  }
  /* part 1 end */

  /* part2 start */

  .part2{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr;
  }
  .part2a{
    font-size: 20px;
    padding: 0px 0px 0px 10px;
  }

  /* part2 end */

/* part3 start */

.part3{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-row-gap: 15px;
}

/* part 3 end */

/* part 4 start */

.part4{
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 1fr 1fr;
}
.part4b{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr;
}
/* part 4 end */

/* part 5 start */
.part5{
  margin: 60px 0px;
  display: grid;
  grid-template-columns:  1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.part5a{
  /* border: 1px solid blue; */
  font-size: 10px;
}
.span4{
  font-size: 14px;
}
.part5c{
  padding-left: 90px;
}
.part5b{
  padding-left: 40px;
}

/* part 5 end */

/* part 6 start */

.reviews
{
    grid-template-columns: 1fr;
    row-gap: 40px;
}
.main h1
{
   
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
}
.main h1::after{
  width: 20px;
  position: absolute;
  top: 40px;
  left: 130px;
  border-radius: 5px;
}

/* part6 end  */

/* part7 start */

.tex1
{
   height: 20px;
   width: 100px;
   color: azure;
   text-decoration: none;
   border-radius: 5px;
   font-size: 10px;
   transform: translateY(-20px);
}

/* part 7 end */

/* part 8 start */

.part8{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 5px 5px;
  row-gap: 20px;
}

/* part 9 end */

/* part 10 start */

.bhag1{
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 1fr 1fr 1fr;
}
.part10{
  height: 920px;

}

/* part 10 end */

/* part 11 start */
.img12{
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 1fr 1fr;
  padding: 30px 30px;
}
.span_70
        {
            position: absolute;
            top: 20px;
            left: 185px;
        }

      /* part 11 end */

      /* part 12 start */

      

      .MO{
        padding: 60px 0px 40px 50px;
      }
      .mo{
        font-size: 20px;
      }
      .mo1{
        font-size: 20px;
        font-weight: 500;
        position: relative;
      }
      .mo1::before{
        width: 20px;
      }

      .room{
        
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr;
        padding: 0px 50px 40px 10px;
        row-gap: 20px;
      }
      .room1{
        width: 250px;
      }
     .x1{
       height: 40px;
       width: 40px;
       font-size: 20px;
       line-height: 40px;
       margin: 5px 0px 5px 10px;
     }
     .x2{
       padding: 5px 0px 0px 5px;
     }
     .pl{
      font-size: 13px;
     
    }
    .pl1{
      font-size: 8px;
    }
    .room2{
      padding-left: 25px;
    }
    .kho{
      height: 165px;
      width: 200px;
      transform: translateY(-15px);
      border-top: 5px solid orangered;
      padding: 10px;
      font-size: 9px;
    }
    
     /* part 12 end */

      /* part 13 start */


      .v3,.v4{
        display: none;
      }
      .v{
         height: 2000px;
        width: 100%; 
        background: url(/images/bg-slider1.jpg);
        background-size: 100% 698px;
        /* background-position:; */
        background-repeat: no-repeat;
         position: relative; 
      }
      .v1{
        
        position: absolute;
        right: 20px;
        top: 30px;
        display: none;
      }
      .v1 img{
        object-fit: contain;
        width: 150px;
        /* height: 207px; */
   }
   .v2 {
    position: absolute;
    top: 30px;
    left: 20px;
  }
  .v2 img{
    object-fit: contain;
    /* width: 150px; */
    height: 280px;
  }

  .v5{
    position: absolute;
    top: 60px;
    left: 10px;
    background: rgba(255, 255, 255, .7);
    border-left: 5px solid orangered;
    height: 230px;
    width: 250px;
    padding: 25px 0px 30px 30px;
  }
  .gh::after{
    content: "";
    height: 3px;
    width: 50px;
    background: #f94d1c;
    position: absolute;
    top: 34px;
    left:150px;
  }

  .gh2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
  }
  .gh3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
    line-height: -5px;
    
  }
 .play{
  height: 30px;
  width: 30px;
  background: rgb(40, 40, 40);
  color: white;
  border: none;
  border-radius: 50%;
  margin-top: 8px;
 }
 .last{
  height: 35px;
  width: 100px;
  background:orangered;
  color: white;
  border: none;
  position: absolute;
  bottom: 10px;
  left:  70px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14px;
  border-radius: 3px;
 }

 .e{
  position: absolute;
  left: 0px;
  bottom: 750px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 0px 20px;
  row-gap: 10px;
 }
 .e1 image{
  height: 100px;
 }
 .e2a img{
  height: 150px;
 }
 .e2{
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 1fr 1fr;
 }
 
}